bin
obj
.vs/FizzBuzz/DesignTimeBuild/.dtbcache.v2
.vs/FizzBuzz/project-colors.json
.vs/FizzBuzz/v17/.futdcache.v1
.vs/FizzBuzz/v17/.suo
.vs/FizzBuzz/v17/TestStore/0/000.testlog
.vs/FizzBuzz/v17/TestStore/0/testlog.manifest
